<div class="jumbotron">

  <input type="text" (keyup.enter)="agregarCita(citaControl)" #citaControl >

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha/Hora</th>
        <th scope="col">Nombre</th>
        <th scope="col">Asunto</th>
        <th scope="col">Estatus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of _cs.citas; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{ item.fecha | date : 'short' }}</td>
        <td>{{ item.asunto }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.estatus }}</td>
      </tr>
    </tbody>
  </table>
  
</div>